<link rel="stylesheet" href="{{ asset("css/header.css") }}">

<header>
    <div class="header {{ theme }}">
        <div class="header-container">
            <div class="header-container-left">
                <a class="header-logo" href="/">
                    <img class="header-logoImg" src="{{ asset('images/logo/logo.png') }}" alt="Logo">
                    <div class="header-logoText">
                        <div class="header-logoMenu">Menu</div>
                        <div class="header-logoChef">Chef !</div>
                    </div>
                </a>
            </div>
            <div class="header-container-right">
                <a href="{{ path('toggleTheme') }}" class="header-profileBtn">Toggle</a>
                {%  if app.user %}
                    <a class="header-profileBtn" href="/" title="Settings">User</a>
                {% endif %}
            </div>
        </div>
</div>
</header>
