/.env
/.env.dev
/.env.test
/.env.local
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/compose.override.yaml

# phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/

# symfony/asset-mapper ###
/public/assets/
/assets/vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Custom
.cache/
.tmp/
uploads/

# Secrets
config/secrets/prod/*.private.php
