{% extends 'base.html.twig' %}

{% block body %}
<div class="login-register">
    Don't have an account ?
    <a href="/register" data-discover="true">
        Create one
    </a>
</div>
{% endblock %}
