{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/auth/login.css") }}">
{% endblock %}

{% block body %}
    <div class="login-container">
        <form method="post">
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1>Welcome back</h1>
            <input
                type="email"
                value="{{ last_username }}"
                name="_username"
                id="username"
                placeholder="Enter your email"
                class="form-control"
                autocomplete="email"
                required autofocus>
            <input
                type="password"
                name="_password"
                id="password"
                placeholder="Enter your password"
                class="form-control"
                autocomplete="current-password"
                required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="login-remember">
                <div class="login-remember-box">
                    <input type="checkbox" name="remember_me" id="remember_me">
                    <label for="remember_me">Remember me</label>
                </div>
                <a class="login-forgot" href="/">Forgot password ?</a>
            </div>

            <button class="loginBtn" type="submit">
                Sign in
            </button>

            <div class="login-register">
                Don't have an account ?
                <a href="/register" data-discover="true">
                    Create one
                </a>
            </div>
        </form>
    </div>
{% endblock %}
