{% extends 'base.html.twig' %}

{% block body %}
    <div class="landing-container {{ theme }}">
        <h1>Welcome to "Menu Chef !"</h1>

        <div class="registerGroup">
            <a class="registerBtn" href="/register">
                <span class="registerText">Get started ></span>
            </a>
        </div>
    </div>
{% endblock %}
