{% extends 'base.html.twig' %}

{% block body %}
<div class="login-register">
    Already have an account ?
    <a href="/login" data-discover="true">
        Login here
    </a>
</div>
{% endblock %}
