<aside>
    <div class="aside-menu">
        <div class="aside-menu-items">
            <a class="aside-menu-item" href="/" title="Home">Home</a>
            <a class="aside-menu-item" href="/recipes" title="Recipes">Recipes</a>
            <a class="aside-menu-item" href="/ingredients" title="Ingredients">Ingredients</a>
        </div>
    </div>
</aside>
