{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipes :</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
